body{
  background-color: gray;
}

h1 {
  text-align: center;
  color: blueviolet;
}

#hello {
  margin: auto;
  width: 200px;
  height: 50px;
  background-color: rgb(172, 249, 255);
  border-radius: 50%;
  
}

#spisok{
  margin: auto;
  width: 200px;
  height: 50px;
}

ol {
  text-align: center;
}

li {
  color: rgb(250, 255, 254);
  
}